@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.fade-away{
    animation: fadeaway 1.5s ease-out 0s forwards;
  }
  
.animate-left{
  animation: anleft 3s ease-out 0s forwards;
}

.animate-right{
  animation: anright 3s ease-out 0s forwards;
}


@keyframes fadeaway {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
@keyframes anleft {
    0% {
      left: -150%;
      opacity: 0;
    }
  
    100% {
      left: 0;
      opacity: 1;
    }
  }
@keyframes anright {
    0% {
      left: 150%;
      opacity: 0;
    }
  
    100% {
      left: 0%;
      opacity: 1;
    }
  }


html {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
    height: auto
}

.spacer {
    height: 50vh;
 }

.custom-gradient-bg {
    @apply bg-cover bg-center;
    background-image: linear-gradient(rgba(31, 31, 39, .79), rgba(45, 45, 54, .79));
}

.main-heading{
    font-size: 40px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold; 
    text-transform: uppercase;
    background: -webkit-linear-gradient(#00FFFF, #40FFC0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.grow-animate{
    animation: createBox 1s;
}

@keyframes createBox {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

@import "./components/_header";
@import "./components/_hero";
@import "./components/_textsection";
@import "./components/_cards";
@import "./components/video";
@import "./components/faq";
@import "./components/stackingcards";
@import "./components/footer";
@import "./components/carousel";
@import "./components/services";
@import "./components/getstarted";
@import "./components/aboutus"

// @import '~bootstrap/scss/bootstrap.scss';