.header {
    max-height: 90px;
    position: absolute;
    inset: 0;
    .navbar-wrapper {
        height: 100%;
        padding: 20px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        .logo{
            width: 120px;
            height: auto;
        }

        .title {
            font-size: 21px;
            font-weight: bold;
        }

        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;


            ul {
                display: inherit;
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;                
                align-items: center;
                gap: 32px;
                li {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            
            button {
                padding: 0 30px;
                border: 1px solid white;
                border-radius: 4px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 18px;
                line-height: 1.2;
                font-weight: 500;
            }
        }
    }
}