.services {

    
    
    .services-content {
        padding: 5rem 0;
        
        background-color: #2b4162;
        background-image: linear-gradient(270deg, #2b4162 0%, #12100e 74%) !important;


        .services-row {
            padding: 4rem 0;


            .services-card {

                display: flex;
                flex-flow: column;

                justify-content: center;
                align-items: flex-start;

                height: 100%;

                .title {
                    font-size: 3rem;
                    color: white;
                    font-weight: bold;
                }

                .text {
                    color: white;
                    font-size: .9rem;

                }

                button {

                    margin-top: 20px;

                    border: none;

                    font-weight: bold;

                    background-color: white;
                    color: black;

                    padding: .5rem 3rem;

                    border-radius: 10px;


                }

            }

            img {

                max-width: 400px;
                max-height: 400px;

                width: fit-content;
                height: fit-content;
            }
        }
    }

    .main-heading {

        margin: 5rem 0;

                font-size: 40px;
                display: inline-block;
                width: 100%;
                text-align: center;
                font-weight: bold; 
                text-transform: uppercase;
                background: -webkit-linear-gradient(#00FFFF, #40FFC0);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

            }

            .text-content {
                margin-bottom: 0;
                font-size: 36px;
                font-weight: 500;
                line-height: 1.2;
                text-align: center;
            }
}